# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
ENVIRONMENT="development"
BCRYPT_SALT_ROUNDS=12
JWT_TOKEN_SECRET=secret #use to generate: node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"
DATABASE_URL="postgresql://username:password@localhost:5432/klikni?schema=public"

AWS_BUCKET=klikni-test
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT=https://s3.tebi.io

LINK_BASE_URL= #Base URL for the frontend

SMS_API_USERNAME=
SMS_API_PASSWORD=
SMS_API_NUMBER= #SMS API number
SMS_API_SID= #SMS API SID

ONESIGNAL_APP_ID=your_app_id_here
ONESIGNAL_API_KEY=your_rest_api_key_here

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SMTP_PORT=
EMAIL_HOST=

EMAIL_ADMIN=the mailbox to which it also sends every email copy sent.
