
/node_modules
/.idea
.env
.env.test
.history
/.expo
mycert.*
*.p8
/bin
*.p12
*.pdf
.DS_Store
*.DS_Store
.eslintcache
types/zod/
.mdx
dist
prisma/schemas/interfaces.ts
prisma/docs
docs/static/prisma/
**/diagrams/images
docs/FuncionalitiesOverview.md
scripts/diagrams
docs/docs/diagrams/images/*
prisma/schemas/ERD.md
ERD.md
