doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reset Your Password
    style(type="text/css").
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Use min-height instead of height */
        margin: 0;
      }
      .card {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h1 {
        font-size: 20px; /* Adjusted size for smaller text */
        margin-bottom: 20px;
        text-align: center;
      }
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px; /* Adjusted size for smaller labels */
      }
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
      }
      button {
        width: 100%;
        padding: 10px;
        background-color: #FCCB1F; /* Updated color */
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold; /* Make button text bold */
      }
      button:hover {
        background-color: #e6b81a; /* Slightly darker shade for hover */
      }
      #error-message {
        color: red;
        margin-bottom: 12px;
        text-align: center;
        font-size: 13px;
      }
      .logo {
        display: block;
        margin: 0 auto 20px;
        max-width: 200px; /* Adjusted size for larger logo */
        width: 100%;
      }
  body
    .card
      img(src="/images/klikni-logo-full.png" alt="Logo" class="logo")
      h1 Reset Your Password
      form(id="reset-form" action="/reset-password/" + token method="POST")
        label(for="password") New Password:
        input(type="password" name="password" required)
        label(for="confirm_password") Confirm New Password:
        input(type="password" name="confirm_password" required)
        button(type="submit") Reset Password
        if error
          p(id="error-message")= error
        else
          p(id="error-message")
    script.
      document.getElementById('reset-form').addEventListener('submit', function(event) {
        const password = document.querySelector('input[name="password"]').value;
        const confirmPassword = document.querySelector('input[name="confirm_password"]').value;
        const passwordPattern = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/;
        const errorMessageElement = document.getElementById('error-message');

        errorMessageElement.textContent = ''; // Clear previous error message

        if (!passwordPattern.test(password)) {
          event.preventDefault();
          errorMessageElement.textContent = 'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number';
        } else if (password !== confirmPassword) {
          event.preventDefault();
          errorMessageElement.textContent = 'Passwords do not match';
        }
      });