doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Reset Your Password
  body
    h1 Reset Your Password
    if error
      p(id="error-message" style="color: red;")= error
    else
      p(id="error-message" style="color: red;")
    form(id="reset-form" action="/reset-password/" + token method="POST")
      label(for="password") New Password:
      input(type="password" name="password" required)
      br
      label(for="confirm-password") Confirm New Password:
      input(type="password" name="confirm-password" required)
      br
      button(type="submit") Reset Password
    script.
      document.getElementById('reset-form').addEventListener('submit', function(event) {
        const password = document.querySelector('input[name="password"]').value;
        const confirmPassword = document.querySelector('input[name="confirm-password"]').value;
        const passwordPattern = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/;
        const errorMessageElement = document.getElementById('error-message');

        errorMessageElement.textContent = ''; // Clear previous error message

        if (!passwordPattern.test(password)) {
          event.preventDefault();
          errorMessageElement.textContent = 'Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number';
        } else if (password !== confirmPassword) {
          event.preventDefault();
          errorMessageElement.textContent = 'Passwords do not match';
        }
      });